.git
.gitignore
.env
.env.*
!.env.example
venv
.venv
env
logs
cache
downloads
__pycache__
*.pyc
*.pyo
.idea
.vscode
node_modules
yt-dlp.exe
ffmpeg.exe
ffprobe.exe
npm-debug.log
.pytest_cache
.ruff_cache
